:root {
    --fcolor: #2d003d;
    --scolor: #d88d1d;
}

html * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', sans-serif;

    font-family: 'Oxygen', sans-serif;
}

a {
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
   }
   ::-webkit-scrollbar-thumb {
    background: #2d003d;
    border-radius: 15px;
   }
   ::-webkit-scrollbar-thumb:hover{
    background: #d88d1d;
   }
   ::-webkit-scrollbar-track{
    background: #ffffff;
    border-radius: 8px;
    box-shadow: inset 7px 10px 12px #f0f0f0;
    }



/* HEADER Y NAVBAR */
.header,
.headerItinerary {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 1.3rem;
    color: white;
    padding: 1vh 2vw;
    z-index: 50;
    transition: 1s;
    background-color: var(--fcolor);
    backdrop-filter: blur(4px);
    box-shadow: 0px 3px 6px 0px #000000aa;
}

.link {
    transition: .5s;
    font-size: 1.3rem;
    font-weight: 400;
    margin: 0 .6vw;
    cursor: pointer;
}

.link:hover {
    color: #ffa871;
    transition: .5s;
}

.linkAdm{
    color: var(--scolor);
    font-weight: bold;
    /* background-color: white; */
    /* padding: .5vh .5vw; */
    /* border-radius: 5px; */
}

.isologo {
    display: flex;
}

.isologo-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 6.5vh;
    height: 6.5vh;
}

.nav-unlog {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 42%;
}

.navbar {
    color: white;
    display: flex;
    justify-content: center;
}

.navbar a {
    font-weight: 100;
    color: white;
}

.unlog {
    margin-left: 2vw;
}


/* HERO */
.hero {
    width: 100%;
    min-height: 100vh;
    background: url('../assets/hero.jpg') no-repeat;
    background-size: cover;
    background-position:bottom;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: 2rem;
    color: white;
    margin-bottom: 15vh;
}

.hero .logo {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero .logo .logo-img {
    width: 400px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: 95%;
    background-position: center;
}

.hero .slogan {
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;

  
}

.slogan div {
    backdrop-filter: blur(5px);
    border: var(--fcolor) solid 2px;
    padding: 1vh 1vw;
    color: var(--fcolor);
    text-align: center;
    width: 45%;
}

.slogan h1 {
    font-size: 1.8rem;
    /* background-color: #2d003d99; */
   
}

.unlog-img {
    background-size: cover;
    width: 3.5vw;
    height: 3.5vw;
    border-radius: 50%;
}


/* CALL TO ACTION */
.cta-plane {
    position: relative;
    z-index: 40;
    overflow: hidden;
    margin-top: 2vh;
    box-shadow: 0px 3px 8px 2px #000000aa;

}

.cta {
    width: 23vw;
    height: 8.5vh;
    background-color: var(--fcolor);
    border: none;
    border: #ffffff11 solid 4px;
    /* border-radius: 10px; */
    color: white;
    font-size: 1.5rem;
    /* font-weight: bold; */
    cursor: pointer;
    z-index: 40;

}

.planeIcon {
    position: absolute;
    color: white;
    top: 1.1vh;
    font-size: 2.5rem;
    left: -30%;
    z-index: 10;
    transition: 2.5s ease-in-out;
    /* transform: rotate(45deg) */
}

.cta-plane:hover>.cta p {
    animation-name: titulo;
    animation-duration: 3s;
}

@keyframes titulo {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.cta-plane:hover>.planeIcon {
    animation-name: plane;
    animation-duration: 3s;
}

@keyframes plane {
    0% {
        left: -20%;
    }
    100% {
        left: 110%;
    }
}

.transitionHero {
    display: none;


    position: absolute;
    top: 80vh;
    width: 100%;
    height: 20vh;
    background-image: linear-gradient(180deg, transparent, #151515);
}


/* SLIDER */
.titSlider {
    color: var(--scolor);

    text-align: center;
    font-size: 3rem;
    margin-bottom: 5vh;
}

.containerSlider {
    position: relative;
    width: 70%;
    margin: 0 auto 15vh auto;
}

.carousel {
    background: transparent;
    margin-bottom: 5vh;
}

.carousel-cell {
    width: 100%;
    height: 90vh;
    margin-right: 30px;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.citySlider {
    width: 45%;
    height: 45%;
    width: 30vw;
    height: 40vh;
    overflow: hidden;
}

.imgSlider {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    transform: scale(1);
    transition: transform 1s ease-in-out;
    padding: 5% 0;
}

.imgSlider:hover {
    transform: scale(1.18);
    transition: transform .8s ease-in-out;
}

.titImgSlider {
    position: absolute;
    opacity: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #00000055;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1.5s;
}

.titImgSlider .tit {
    color: #ffffffbb;
    font-size: 3.5rem;
}

.imgSlider:hover>.titImgSlider {
    opacity: 0;
    transition: .7s;
}

.dot {
    background-color: #d88d1d !important;
}


/* -------------------------------------------------------------------------------------- CITIES */

.citiesHero {
    min-height: 65vh;
    background-size: cover;
    /* background-repeat: no-repeat; */
    background-position-y: 500px;
    /* background-position: center; */
    display: flex;
    align-items: center;
    padding-top: 10vh;
    /* margin-bottom: 2vh; */
}

.citiesHero .logo {
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.citiesHero .logo .logo-img {
    width: 30%;
    height: 50%;
    background-repeat: no-repeat;
    background-size: 95%;
    background-position: center;
}

.citiesContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5vh 0 10vh 0;
}

.citiesContainer a {
    text-decoration: none;
}

.filterContainer{
    position: absolute;
    top: 50vh;
    height: 15vh;
    width: 100%;
    display: flex;
    
    justify-content: center;
    align-items: center;
    margin-bottom: 5vh;
}

.cityFilter {
    width: 50vw;
    padding: 2.5vh 1.5vw;
    padding: 2vh 2vw;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #ffffff99;
    color: var(--fcolor);
    border: var(--fcolor) solid 2px;
    font-size: 1.1rem;
}

.cityFilter::placeholder{
    color: #2d003da9;
    font-size: 1.2rem;
}

.notCities{
    box-shadow: #00000055 0px 5px 10px 0px ;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40vh;
    width: 50vw;
    margin-top: 5vh;
}

.notCities .img {
    font-size: 12rem;
    color: var(--scolor);
    background-color: #ffffffee;
    padding: 15px;

}

.notCities p {
    font-size: 2rem;
    width: 50%;
    color: var(--scolor);
    background-color: #ffffffee;
    padding: 15px;
    font-weight: bold;

}



/* CARDS CITIES */
.cardCity {
    background-size: cover;
    background-position-x: center;
    background-position-y: 50%;
    position: relative;
    width: 90vw;
    height: 40vh;
    margin: 2vh 0;
    box-shadow: -1px 7px 19px -2px #0000009e;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(.995);
    opacity: .9;
    overflow: hidden;
    transition: 2s;
}

.cardCity>div {
    visibility: hidden;
    transition: 2s;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1vw;
    bottom: 0;
    height: 0;
    width: 100%;
    color: white;
}

.cardCity>div span {
    opacity: 0;
    transition: .4s;
    font-size: .87rem;
}

.cardCity p {
    color: white;
    font-size: 5rem;
    font-weight: 600;
    transition: 2s;
    text-shadow: 4px 4px 3px #000000;
}

.cardCity:hover {
    background-position-x: center;
    background-position-y: 65%;
    opacity: 1;
    transform: scale(1.04);
    transition: 1.4s ease-in-out;
    box-shadow: -1px 7px 19px 1px #0000009e;
}

.cardCity:hover>div {
    background-color: #000000e1;
    visibility: visible;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5vw;
    bottom: 0;
    width: 100%;
    height: 20%;
    transition: 1.2s;
    color: white;
}

.cardCity:hover>div span {
    opacity: 1;
    transition: .4s;
    font-size: .87rem;
}

.cardCity:hover>p {
    transition: 1s;
    transform: scale(1.2);
    text-shadow: none;
    color: transparent;
}





/* ITINERARIES */
.itinerariesContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15vh;
}

.cityItinerariesHero {
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}


.cityItinerariesHero .cityTitle {
    color: #ffffff;
    font-size: 7rem;
    font-weight: 600;
    transition: 2s;
    text-shadow: 4px 4px 3px #000000;
}

.itinerariesContainer .cta-plane {
    margin-top: 5vh;
    transition: .1s;
}

.itinerariesContainer .cta-plane:hover{
    filter: brightness(1.3);
    transition: .1s;
}

.underConstruction {
    width: 90% !important;
    text-align: center;
}

.noItineraries {
    /* background-color: yellow; */
    position: relative;
    
    margin: 10vh 0 5Vh 0;
    width: 50vw;
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: #00000055 0px 5px 10px 0px ;
    overflow: hidden;
    transition-duration: 1s;
}


.noItineraries p {
    z-index: 30;
    color: var(--scolor);
    font-weight: bold;
    font-size: 2rem;
    padding: 2px 10px;
    transition-duration: 1s;
}

 .divNoItineraries{
    position: absolute;
    background-color: var(--fcolor);
    height: 100%;
    width: 100%;
    transition-duration: 1s;
    opacity: .92;


}
.noItineraries:hover {
    box-shadow: #000000bb 0px 5px 18px 5px ;
    transition-duration: 1s;
}


.noItineraries:hover  p{
    font-size: 2.2rem;
    transition-duration: 1s;
}


.noItineraries:hover .divNoItineraries{
    opacity: .85;
    transition-duration: 1s;
}



/* ------------------------------------------------------------------------------ ITINERARY */

.itinerary,
.showItinerary{
    position: relative;
    /* background-color: var(--scolor); */
    width: 65vw;
    min-height: 50vh;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    transition: .5s;
    box-shadow: #00000055 0px 5px 10px 0px ;
    overflow: hidden;


}

.itinerary:hover,
.showItinerary:hover{
    box-shadow: #00000099 0px 5px 20px 1px ;
}

.itinerary .info,
.showItinerary .info{
    background-size: cover;
    background-position:  center;
    position: relative;
    width: 100%;
    top: 0;
    flex-direction: column;
    align-items: center;
    height: 32vh;

}

.showItinerary{
    display: flex;
    flex-grow: 1;

    /* min-height: 150vh; */


}

.mouseMove{
    position: absolute;
    background-color: white;
    z-index: 20;
    width: 120%;
    height: 110%;
    top: 60%;
    left: -10%;
    transform: rotate(4deg);
    transition: .1s;
    filter: blur(5);
    outline: 1px solid transparent;

}
.itinerary:hover .prueba,
.showItinerary:hover .prueba{
    transition: .5s ease-in-out ;
}



.titleSectionItinerary{
    /* background-color: var(--fcolor); */
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titleSectionItinerary .titleItinerary{
    background-color: #00000055;
    backdrop-filter: blur(3px);
    padding: 5px 15px;
    border: solid 1px white;
    color: #ffffff;

    font-size: 2.2rem;
}

.authorItinerary{
    z-index: 30;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 3vw;
    top: 2rem;
}

.authorItinerary p {
    font-weight: bold;
}

.authorItinerary .authorImg{
    /* position: absolute; */
    height: 20vh;
    width: 20vh;
    background-size: cover;
    border-radius: 50%;
    border: white solid 4px;
    margin-bottom: 2vh;
}

.priceSection{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* background-color: yellow; */
    height: 12vh;
    width: 100%;
}

.priceSection >*{
    z-index: 30;

    margin: 0 .8vw;
    font-size: 1.1rem;
}

.priceSection .text {
    color: var(--fcolor);
    font-weight: bold;
}

.priceSection .price{
    margin: 0 .1vw;
    color: rgb(8, 126, 8);
}


.priceSection .duration{
    margin: 0 .1vw;
    color: rgb(7, 136, 179);
}

.priceSection .heart{
    color: red;
    margin: 0 .3vw;
    cursor: pointer;
}
.priceSection .heart:hover{
    transform: scale(1.2);
    transition: .5s;
}

.hashtag {
    
    height: 8vh;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;

}

.hashtag >*{
    z-index: 30;

    margin: 0 .5vw;
    font-style: italic;
    color: #3ba789;
    font-size: .9rem;
}

.showDivOff, 
.showDivOn{
    visibility: hidden;
    display: none;
    width: 100%;
    height: 0;
    margin-top: 10vh;
    justify-content: center;
    align-items: center;
}

.showDivOn{
    display: flex;
    flex-direction: column;
    z-index: 30;
    visibility: visible;
    display: flex;
    height: 100%;
    transition: 1s;
    margin-bottom: 8vh;
}

.showDivOn >h4 {
    color: var(--fcolor);
    font-size: 1.6rem;
    margin: 1vh 0 1vh 0;
    width: 95%;
    text-align: center;
    padding: .5vh 0;
    border-bottom: solid 2px var(--fcolor);
    border-bottom: solid 2px #dddddd;
}



.activitiesContainer{
    display: flex;
    justify-content: space-evenly;
    height: 25vh;
    /* background-color: #fafafa; */
    width: 95%;
    margin-bottom: 3vh;
    padding: 1vh 0;
    /* box-shadow: inset #00000022 0px 3px 5px 0px ; */

}

.activity{

    background-color: white;
    display: flex;
    align-items: flex-end;
    background-size: cover;
    background-position: center;
    width: 15vw;
    border-radius: 5px;
    /* padding: 1vh .5vw; */
    box-shadow: #00000077 0px 3px 5px 0px ;
    overflow: hidden;
    opacity: .8;
    transition-duration: .8s;

}

.activity:hover {
    opacity: 1;
    transition-duration: .8s;
    box-shadow: #00000077 0px 3px 5px 2px ;
}

.activity .activityTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 25%;
    color: white;
    font-size: 1rem;
    background-color: #000000bb;
    
    /* padding-top: 1vh; */
}


/* COMMENTS */

.commentsItinerary{
    background-color: #dddddd44;
    border-radius: 5px;
    width: 95%;
    min-height: 0vh;
    max-height: 60vh;
    overflow-y: scroll;
    overflow-x: hidden;
    font-size: .9rem;
}


.buttonShow {
    z-index: 30;
    position: absolute;
    bottom: 0;
    height: 5vh;
    width: 100%;
    background-color: var(--fcolor);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
    cursor: pointer;
}

.buttonShow >* {
    color: #fff;
}

.buttonShow:hover{
    background-color: var(--scolor);
    transition: .2s;
}

.newComment  {
    margin-top: 2vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: red; */
    width: 94%;
}

.newComment textarea {
    width: 92%;
    resize: none;
    border-radius: 5px;
    background-color: #eeeeee;
    border: none;
    padding: .8vh .5vw;
    box-shadow: #00000044 0px 3px 5px 0px ;

    /* border: solid 1px var(--fcolor); */
}

.newComment textarea:focus{
    outline: none;
    box-shadow: #00000044 0px 3px 5px 0px ;
}

.newComment button {
    background-color: var(--fcolor);
    border: none;
    color: white;
    border-radius: 5px;
    padding: .3vh 1vw;
    height: 4vh;
    transition-duration: .1s;
    border: solid 1px white;
    cursor: pointer;
    transition-duration: .5s;
}

.newComment button:hover,
.newComment button:focus {
    color: var(--fcolor);
    background-color: white;
    border: solid 1px var(--fcolor);
    transition-duration: .5s;
    outline: none;
}

.comment{
    background-color: white;
    position: relative;
    display: flex;
    min-height: 10vh;
    border-radius: 5px;
    margin: 1.5vh .5vw;
    padding: 1vh .5vw;
    box-shadow: #00000044 0px 3px 5px 0px ;
    overflow: hidden;
}

.userPicComment{
    width: 50px;
    height: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
}

.commentNameText{
    display: flex;
    flex-direction: column;
    width: 87%;
    /* margin-left: 3vw; */
    margin-left: .5vw;
} 


.commentsUserName{
    color: var(--fcolor);
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: .5vh;
}


.commentsButtons{
    position: absolute;
    justify-content: space-around;
    top: 1vh;
    right: .5vw;
    width: 6%;
    font-size: 1rem;
    transition-duration: 1s;
}


.commentsButtons >*{
    color: #555555;
    transition-duration: 1s;
    cursor: pointer;
}

.commentEditButton:hover{
    color: #470e68ee;
    transition-duration: .3s;
}
.commentDeleteButton:hover{
    color: #ce0e0e;
    transition-duration: .3s;
}

.textAreaEditComment{
    min-height: 5vh;
    /* resize: vertical; */
    width: 100%;
    resize:none;
    height: inherit;
    margin-bottom: 1vh;
    padding: .5vh .3vw;
    background-color: #eeeeee;
    border-radius: 5px;
    border: none;
}

.textAreaEditComment:focus{
    outline: none;
    box-shadow: #00000044 0px 3px 5px 0px ;
}

.commentNameText > div {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.commentNameText > div > button {
    align-self: center;
    background-color: var(--fcolor);
    border: solid 1px var(--fcolor);
    border-radius: 5px;
    color: white;
    padding: .5vh .5vw;
    width: 5vw;
    transition-duration: .5s;
    cursor: pointer;
}

.commentNameText > div > button:hover {
    background-color: white;
    color: var(--fcolor);
    border: solid 1px var(--fcolor);
    transition-duration: .5s;
}

.deleteCommentModalClose,
.deleteCommentModalOpen {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--fcolor);
    z-index: 45;
}

.deleteCommentModalOpen{
    display: flex;
    position: absolute;
    top: 0;
    justify-content: center;    
    align-items: center;
}

.deleteComment{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0 2vw;
    box-shadow: #00000055 0px 5px 10px 0px ;
}

.deleteCommentButtons{
    display: flex;
    width: 25%;
}

.deleteComment p{
    font-size: 1rem;
    color: white;
}

.deleteCommentButtons button{
    padding: .8vh 1.3vw;
    margin-left: .8vw;
    background-color: white;
    font-size: .9rem;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    background-color: var(--fcolor);
    transition-duration: .5s;
}

.deleteCommentButtons button:hover{
    background-color: white;
    color: var(--fcolor);
    transition-duration: .2s;
}

.deleteCommentButtons :last-child:hover{
    background-color: #ff0000dd;
    border: none;
    color: white;
}



/* -------------------------------------------------------------------------------------- SIGN IN - SIGN UP */





.formContainer,
.formContainerSignIn{
    position: relative;
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15vh 0;
}

.singUpImg {
    position: relative;
    left: -10vw;
    height: 95vh;
    width: 50vw;
    background-position: center;
    background-size: cover;
    border-radius: 5px;
    box-shadow: #00000055 0px 5px 10px 0px ;
    overflow: hidden;
}

.singUpImg .signUpImgContainer{
    position: absolute;
    background-color: #2d003dcc;
    width: 100%;
    height: 100%;
}

.signUpImgContainer .callToActionContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10vh 0 20vh 0;
    width: 60%;
    height: 100%;
}

.callToActionContainer div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 25%;
}

.callToActionContainer  h3{
    color: white;
    font-size: 2.5rem;
}

.callToActionSignIn{
    /* background-color: red; */
    width: 100%;
}

.callToActionSignIn span {
    color:white;
    font-size: 1.1rem;
}

.callToActionSignIn button{
    background-color: transparent;
    padding: 1.5vh 8vw;
    border: 1px solid white;
    color: white;
    font-size: 1.1rem;
    cursor: pointer;
    transition: .8s;

}

.callToActionSignIn button:hover{
    background-color: #ffffff22;
    transition: .8s;
}

.formContainerSignIn .form,
.formContainer .form{
    position: absolute;
    right: 20vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    height: 85vh;
    width: 40%;
    width: 35vw;
    padding: 6vh 0;
    border-radius: 5px;

    box-shadow: #00000055 0px 5px 10px 0px ;
    transition: 1.2s;
}


.formContainerSignIn .form{
    height: 75vh;
    transition: 1.2s;
    padding: 10vh 0;
}

.formContainerSignIn  .separatorFormSignIn{
    height: 20%;
}

.formContainer .form:hover,
.formContainerSignIn .form:hover{
    transform: scale(1.01);
    box-shadow: #000000aa 0px 5px 15px 0px ;
    transition: 1.2s;

}


.form .inputContainer{
    width: 70%;
    height: 8vh;
    position: relative;
}

.passwordEye{
    position: absolute;
    right: 6px;
    top: 12px;
    opacity: .5;
    cursor: pointer;
}


.form input{
    width: 100%;
    padding: 1.3vh 0vw;
    border: none;
    border-bottom: 1px solid grey;
    outline: none;
}

.form input:focus{
    /* transform: scale(1.02); */
    /* background-color: grey; */
    border-bottom: 1px solid var(--fcolor);
    /* padding: 1.3vh 0vw 0vh 0; */


    transition: 1s;
    /* box-shadow: #00000055 0px 10px 15px -2px ; */


}

.form select{
    width: 70%;
    padding: 1.3vh 0vw;
    border: none;
    border-bottom: 1px solid grey;
}

.errorSignUp{
    color: #ff0000ff;
    font-size: .7rem;
}

.signButton{
    background-color: var(--fcolor);
    width: 70%;
    height: 7vh;
    margin: 5vh 0 0 0;
    border: none;
    color: white;
    box-shadow: #00000066 0px 5px 10px 0px ;
    font-size: 1.1rem;
    transition: .9s;
    cursor: pointer;

}

.signButton:hover{
    opacity: .9;
    transition: .9s;
    transform: scale(1.03);
    box-shadow: #00000066 0px 5px 10px 2px ;

}

.googleButton{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center  !important;
    
    background-color: var(--fcolor);
    box-shadow: #00000044 0px 5px 10px 0px !important;

}

.or{
    margin: 2vh 0 ;
    color: grey;
    font-size: .9rem;
}

.callToActionResponsive{ 
    display: none;
}





/* FOOTER */
.footer {
    position: relative;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 10vh 0 .5vh 0 ;
    height: 45vh;
    /* margin-top: 18vh; */
}

.footerFilter{
    position: absolute;
    top: 0;
    background-color: #2d003ddd;
    width: 100%;
    height: 100%;
}

.footer .active >* {
    border: none;
}

.divFooter {
    display: flex;
    width: 80%;
    justify-content: space-between;
    z-index: 10;
}

.footerTitle {
    color: white;
    font-size: 1.1rem;
    margin-bottom: 3vh;
    width: 80px;
}

.navigation-social {
    display: flex;
    width: 70%;
    padding-right: 10%;
    justify-content: space-between;
}

.contact {
    font-size: .95rem;
    width: 45%;
    display: flex;
    flex-direction: column;
}

.contact .footerTitle {
    width: 100%;
}

.contactIcon {
    display: flex;
    flex-direction: column;
        margin-bottom: .5vh;
}
.contactIcon span{
    margin-bottom: .5vh;
}

.ubi-tel{
    font-size: .9rem;
}

.social {
    font-size: 1.8rem;
    width: 10%;
    display: flex;
    flex-direction: column;
}

.socialIcon {
    display: flex;
}

.socialIcon > * {
    cursor: pointer;
    margin-right: 1.2vw;
    
}

.social > .footerTitle{
    margin-left: 4vw;
}

.linkFooter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: flex-start;
}

.linkFooter a {
    margin-bottom: .5vh;
}

.linkFooter .link {
    margin: 0;
    margin-bottom: .5vh;

    padding: none;
    font-size: .9rem;
    text-align: start;
    color: white;
    text-decoration: none;
}

.logo-footer {
    position: relative;
    top: 4vh;
    width: 20vw;
    height: 100%;
    display: flex;
    align-items: center;
}

.logo-img-footer {
    background-size: 80%;
    background-repeat: no-repeat;
    height: 8vh;
    width: 20vw;
}

.copyright{
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: center;
}

/* ------------------------------------------------------- SPECIAL COMPONENTS ------------------------------------------------------------ */
/* RESPONSIVE MENU BUTTON */
.responsiveNavClose {
    visibility: hidden;
    position: absolute;
    top: 8vh;
    left: 0;
    width: 100%;
    height: 0vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5vh;
    transition: .5s;
}

.responsiveNavClose a {
    opacity: 0;
    transition: .5s;
    text-decoration: none;
    color: white;
    margin: 4vh 0;
}

.responsiveNavClose .link {
    opacity: 0;
    transition: .5s;
    font-size: 2rem;
    margin: 4vh 0;
}

.responsiveNavOpen {
    visibility: visible;
    position: absolute;
    top: 8vh;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #000000f5;
    transition: .3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5vh;
}

.responsiveNavOpen a {
    opacity: 1;
    transition: .5s;
    text-decoration: none;
    color: white;
    margin: 4vh 0;
}

.responsiveNavOpen .link {
    opacity: 1;
    transition: .5s;
    font-size: 2rem;
    margin: 4vh 0;
}

.toggleNav {
    display: none;
}

.active > *{
    border-bottom: #ffffffbb solid 2px;
    padding-bottom: 6px;
}

/* PRELOADER */
.preloaderContainer {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.sk-chase {
    width: 100px;
    height: 100px;
    position: relative;
    animation: sk-chase 2.5s infinite linear both;
}

.sk-chase-dot {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    animation: sk-chase-dot 2.0s infinite ease-in-out both;
}

.sk-chase-dot:before {
    content: '';
    display: block;
    width: 25%;
    height: 25%;
    background-color: #fff;
    background-color: var(--scolor);
    border-radius: 100%;
    animation: sk-chase-dot-before 2.0s infinite ease-in-out both;
}

.sk-chase-dot:nth-child(1) {animation-delay: -1.1s;}
.sk-chase-dot:nth-child(2) {animation-delay: -1.0s;}
.sk-chase-dot:nth-child(3) {animation-delay: -0.9s;}
.sk-chase-dot:nth-child(4) {animation-delay: -0.8s;}
.sk-chase-dot:nth-child(5) {animation-delay: -0.7s;}
.sk-chase-dot:nth-child(6) {animation-delay: -0.6s;}
.sk-chase-dot:nth-child(1):before {animation-delay: -1.1s;}
.sk-chase-dot:nth-child(2):before {animation-delay: -1.0s;}
.sk-chase-dot:nth-child(3):before {animation-delay: -0.9s;}
.sk-chase-dot:nth-child(4):before {animation-delay: -0.8s;}
.sk-chase-dot:nth-child(5):before {animation-delay: -0.7s;}
.sk-chase-dot:nth-child(6):before {animation-delay: -0.6s;}

@keyframes sk-chase {
    100% {
        transform: rotate(360deg);
    }
}
@keyframes sk-chase-dot {
    80%, 100% {
        transform: rotate(360deg);
    }
}
@keyframes sk-chase-dot-before {
    50% {
        transform: scale(0.4);
    }
    100%, 0% {
        transform: scale(1.0);
    }
}



/* ADMIN PANEL */

.adminContainer{
    display: flex;
}

.adminNav{
    width: 12%;
    min-height: 100vh;
    border-right: solid 4px  var(--scolor);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 8vh 0 0 0;
}

.adminNav >*{
    text-align: center;
    margin: 1vh 0;
    font-size: 1.2rem;
    cursor: pointer;
    transition: .5s;
    padding-bottom: 1vh;
    border-bottom: solid 2px white;

}

.adminNav >*:hover{
    /* transform: scale(1.08); */
    border-bottom: solid 2px var(--scolor);
    transition: .5s;
}


.adminSection{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.adminTitle {
    background-color: #dddddd;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vh 2vw 1vh 45%;
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--scolor);
}

.adminTitle button {
    padding: 1.2vh .9vw;
    color: white;
    border: none;
    border-radius: 5px;
}

.adminCard{
    position: relative;
    /* height: 50vh; */
    display: flex;
    flex-direction: column;
    width: 100%;
    /* justify-content: space-between; */
    align-items: flex-start;
    padding: 0vh 1vw;
    margin-top: .6vh;
    /* border-radius: 5px; */
    box-shadow: 0px 1px 8px -2px #00000055;
}

.adminCardHeader{
    display: flex;
    position: relative;
    align-items: center;
    height: 5vh;
    width: 100%;
    padding: 1vh 0;
    /* background-color: red; */
    justify-content: space-between;
}

.adminCardHeader > h4 {
    position: absolute;
    left: 3vw;
}

.adminCardHeader .moreButton,
.adminCardHeader .closeButton{
    cursor: pointer;
    color: var(--fcolor);
    font-size: 1.4rem;
    transition: .5s;
}

.adminCardHeader .closeButton{
    color: grey;
}

.adminCardInfo{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-top: 1vh;
    /* flex-direction: column; */
    /* background-color: yellow; */
    /* align-items: center; */
}

.adminElementInfo{
    flex-direction: column;
    justify-content: center;
}

.adminCardFields {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 7%;
}

.adminCardInfo form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 86%;
    /* flex-grow: 1; */
}

.adminCarEditDelete{
    /* position: absolute; */
    display: flex;
    top: 25%;
    right: 1%;
    width: 5vw;
    font-size: 1.3rem;
    justify-content: space-around;
    /* background-color: blue; */
}

.editAdmin,
.deleteAdmin{
    cursor: pointer;
    color: grey;
}

.editAdmin:hover{
    color: #001affa4;
}

.deleteAdmin:hover{
    color: #ff0000a4;
}



.adminConfirmM{
    position: absolute;
    top: auto;
    height: 5vh;
    bottom: 15px;
    bottom: auto;
    right: 1%;
    padding: .5vh .5vw;
    background-color: #118311;
    border: none;
    color: white;
    border-radius: 5px;    
    cursor: pointer;
    margin-left: 2vw;
}

.adminConfirmM:hover{
    background-color: #118311dd;
}

.adminCardInfo span{
    /* width: 25%; */
    font-size: .8rem;
    height: 5vh;
}

.adminCardInfo form{
    display: flex;
    
}

.adminCardInfo form span{
    width: 100%;
}

.adminCardInfo form input{
    width: 100%;
    border: none;
    outline: none;
    border-bottom: solid 1px grey;
    /* padding: .5vh .5vw; */
}

.newCityModalVisible{
    visibility: visible;
    position: absolute;
    background-color: #000000ee;
    width: 100%;
    height: 80vh;
    display: flex;   
    justify-content: center;
    top: 9vh;
    transition: .5s;
}

.newCityModalHidden{
    visibility: hidden;
    position: absolute;
    background-color: #000000ee;
    width: 100%;
    height: 0;
    display: flex;   
    justify-content: center;
    top: 9vh;
    transition: .5s;
}

.newCityModalVisible form {
    visibility: visible;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: .5s;
}

.newCityModalHidden form{
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: .1s;
}

.newCityModalVisible form *{
    padding: 2vh 2vw;
    width: 40vw;
    border-radius: 5px;
    border: none;
    transition: .5s;
}

.newCityModalHidden form *{
    padding: 0vh 2vw;
    width: 40vw;
    border-radius: 5px;
    border: none;
    transition: .1s;
}

.newCityModalVisible form span{
    font-size: 1.8rem;
    color: white;
    font-size: 1.8rem;
    text-align: center;
    transition: .5s;
}

.newCityModalHidden form span{
    text-align: center;
    color: white;
    font-size: 0;
    text-align: center;
    transition: .5s;
}

.newCityModalVisible form button{
    background-color: var(--fcolor);
    border: solid 1px var(--fcolor);
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    transition: .5s;
}

.newCityModalVisible form button:hover{
    background-color: transparent;
    border: solid 1px white;
    font-size: 1.2rem;
    transition: .5s;
}


/* --------------------------------------------------------------------- RESPONSIVE TABLET LANDSCAPE ------------------------------------------------------------------------------- */
@media (max-width: 1024px) {
    .header,
    .headerItinerary {
        position: fixed;
        background-color: #470e68;
        background-color: var(--fcolor);
        height: 8vh;
        padding: 3vw 3vh;
        box-shadow: 0px 0px 10px 2px #000000;
    }

    .navbar {
        display: none;
    }
    .isologo-img {
        width: 5vh;
        height: 5vh;
    }
    .unlog-img {
        width: 5vh;
        height: 5vh;
    }
    .hero {
        min-height: 100vh;
        background-position: center;
    }
    .flickity-button {
        display: none;
    }
    .toggleNav {
        display: block;
        z-index: 100;
        font-size: 2.3rem;
        cursor: pointer;
        margin-left: 2vh;
    }
    .hero .slogan {
        padding: 0 3vw;
    }
    .slogan h1 {
        text-align: center;
        font-size: 1.3rem;
    }
    .cta-plane {
        position: relative;
        z-index: 40;
        overflow: hidden;
    }
    .cta {
        width: 40vw;
        height: 8.5vh;
        font-size: 1.4rem;
    }
    .plane {
        width: 3.5vh;
        top: 3.1vh;
    }
    .transitionHero {
        position: absolute;
        top: 80vh;
        width: 100%;
        height: 20vh;
        background-image: linear-gradient(180deg, transparent, #151515);
    }

    .titImgSlider .tit {
        font-size: 2rem;
    }

    .footer {
        margin-top: 20vh;
    }

    .cityFilter {
        width: 90vw;
    }

    .notCities{
        width: 90vw;
    }  
    
    .notCities .img{
        font-size: 10rem;
    }

    .cityItinerariesHero .cityTitle {
        color: #ffffff;
        font-size: 4rem;
        font-weight: 600;
        transition: 2s;
        text-shadow: 4px 4px 3px #000000;
    }

    .cardCity:hover>div  {
        display: none;
    }

    .itinerary,
    .showItinerary{
        width: 90vw;
    }
    .noItineraries p {
        font-size: 1.5rem;
    }

    .singUpImg {       
        left: -10vw;
        height: 95vh;
        width: 65vw;
    }

    .formContainer,
    .formContainerSignIn{
       margin: 10vh 0;
    }

    .formContainerSignIn .form,
    .formContainer .form{
        right: 5vw;  
        width: 50vw;
    }

    .activity .activityTitle{
        font-size: .9rem;
    }

    .commentNameText > div > button {
        padding: .5vh .5vw;
        width: 10vw;
    } 
}

/* --------------------------------------------------------------------- RESPONSIVE TABLET ----------------------------------------------------------------------------------------- */
@media (max-width: 799px) {
    .unlog-img {
        width: 5vh;
        height: 5vh;
    }
    .hero {
        min-height: 100vh;
        background-position: center;
    }
    .flickity-button {
        display: none;
    }

    .citiesHero{
        background-position-y: 400px;
    }

    .citiesHero .logo .logo-img {
        width: 50%;
        height: 50%;
        background-repeat: no-repeat;
        background-size: 95%;
        background-position: center;
    }
    
    .hero .slogan {
        padding: 0 3vw;
    }

    .slogan h1 {
        text-align: center;
        font-size: 1.3rem;
    }

    .cta-plane {
        position: relative;
        z-index: 40;
        overflow: hidden;
    }

    .cta {
        width: 40vw;
        height: 8.5vh;
        font-size: 1.3rem;
    }

    .plane {
        width: 3.5vh;
        top: 3.1vh;
    }
 
    .titImgSlider .tit {
        font-size: 2rem;
    }

    .footer {
        margin-top: 20vh;
    }

    .notCities .img {
       font-size: 7rem;
    }

    .notCities p{
        font-size: 1.5rem;
    }

    .itinerary{
        height: 50vh;    
    }

    .titleSectionItinerary{
        height: 20vh;
        align-items: flex-start;
    }
    
    .titleSectionItinerary .titleItinerary{
        font-size: 1.4rem;
        margin-top: 2vh;
    }

    .authorItinerary{
        left: 0;
        right: 0;
        top: 12.5vh;
    }
    
    .authorItinerary .authorImg{
        height: 15vh;
        width: 15vh;
        margin-bottom: 1vh;
    }
        
    .priceSection{
        height: 10vh;
        margin-top: 8vh;
        width: 100%;
    }
    
    .priceSection >*{
        margin: 0 .8vw;
        font-size: 1rem;
    }
    
    .hashtag {
        height: 4vh;
        align-items: flex-end;
    }
    
    .hashtag >*{
        margin: 0 .5vw;
        font-size: .9rem;
    }
    
    .showDivOff{
        margin-top: 20vh;
    }
    
    .showDivOn{
        margin-top: 15vh;
    }
    
    .commentsItinerary{
        font-size: 1.5rem;
    }

    .noItineraries p {
        font-size: 1.1rem;
    }
    
    .formContainer,
    .formContainerSignIn{
        margin: 10vh 0;
    }

    .singUpImg {
        left: 0;
        height: 110vh;
        width: 80vw;
    }

    .signUpImgContainer .callToActionContainer{
        padding: 3vh 0 5vh 0;
        width: 100%;
    }

    .callToActionContainer  h3{
        color: white;
        font-size: 2.3rem;
    }
   
    .formContainerSignIn .form,
    .formContainer .form{
        right: auto;
        left: auto;
        height: 85vh;
        width: 60vw;
        padding: 5vh 0;
    }

    .formContainerSignIn .form{
        height: 75vh;
    }

    .callToActionResponsive{
        display: block;
        color: white;
    }

    .callToActionResponsive > * {
        color: white;
        text-decoration: underline;
        font-weight: bold;
    }  

    .activitiesContainer{
        justify-content: space-around;
        width: 100%;
    }
    
    .activity{
        width: 20vw;    
    }

    .activity .activityTitle{
        font-size: .8rem;
    }

    .comment{
        padding: 1vh .5vw;
    }

    .commentsButtons{
        right: 1vw;
        width: 8%;
        font-size: .9rem;
    }

    .userPicComment{
        width: 40px;
        height: 40px;   
    }

    .commentNameText{
        width: 85%;
        margin-left: 1vw;
    } 

    .textAreaEditComment{
        padding: .5vh 1vw;
    }

    .commentNameText > div > button {
        padding: .5vh .5vw;
        width: 15vw;
    } 

    .newComment  {
        width: 94%;
    }
    
    .newComment textarea {
        width: 86%;
        padding: .8vh 1vw;
    }
    
    .commentNameText > div > p {
        font-size: .8rem;
    }

    .commentsUserName{
        color: var(--fcolor);
        font-weight: bold;
        font-size: .85rem;
        margin-bottom: .2vh;
    }

    .showDivOn >h4 {
        font-size: 1.3rem;
        margin: .8vh 0 1.5vh 0;
        width: 40%;
    }

    .deleteComment p{
        font-size: .8rem;
    }
    
    .deleteCommentButtons button{
        font-size: .8rem;
    }
}

/* --------------------------------------------------------------------- RESPONSIVE MOBILE ----------------------------------------------------------------------------------------- */
@media (max-width: 599px) {
    .header {
        padding: 3vw 2vh;
    }

    .unlog-img {
        width: 5vh;
        height: 5vh;
    }

    .hero {
        min-height: 100vh;
        background-position: center;
    }

    .citiesHero{
        background-position-y: 400px;

    }

    .cityFilter::placeholder {
        font-size: .95rem;
    }
    
    .citiesHero .logo .logo-img {
        width: 60%;
        height: 30%;
    }

    .citySlider {
        min-width: 80vw;
    }
    
    .containerSlider {
        position: relative;
        width: 98%;
        margin: 0 auto;
    }

    .flickity-button {
        display: none;
    }
   
    .hero .slogan {
        padding: 0 3vw;
    }

    .slogan div {
        width: 70%;
    }

    .slogan h1 {
        text-align: center;
        font-size: 1.3rem;
    }

    .cta-plane {
        position: relative;
        z-index: 40;
        overflow: hidden;
    }

    .cta {
        width: 70vw;
        height: 8.5vh;
        font-size: 1.2rem;
    }

    .plane {
        width: 3.5vh;
        top: 3.1vh;
    }

    .cardCity p {
        font-size: 3rem;
    }

    .footer {
        margin-top: 20vh;
    }

    .navigation-social {
        width: 100%;
    }

    .logo-footer {
        display: none;
    }

    .notCities{
        flex-direction: column;
    }   

    .notCities .img {
        margin-top: 3vh;
    }

    .notCities p {
        font-size: 1.2rem;
        width: 90%;
    }
    .cityItinerariesHero .cityTitle {
        font-size: 3.2rem;
    }
    .commentsItinerary{
        font-size: 1rem;
        max-width: 90%;
    }
          
    .priceSection{
        height: 10vh;
        margin-top: 8vh;
        flex-wrap: wrap;
    }
    
    .priceSection >*{
        margin: 0 .8vw;
        font-size: .9rem;
    }
    
    .hashtag {
        height: 4vh;
        align-items: flex-end;
        flex-wrap: wrap;
    }
    
    .hashtag >*{
        margin: 0 .5vw;
        font-size: .8rem;
    }

    .noItineraries p {
        font-size: .7rem;
    }

    .formContainer,
    .formContainerSignIn{
        margin: 10vh 0;
    }

    .singUpImg {
        left: 0;
        height: 110vh;
        width: 100vw;
    }

    .signUpImgContainer .callToActionContainer{
        padding: 1vh 0 3vh 0;
    }

    .callToActionContainer  h3{
        font-size: 2.2rem;
    }

    .formContainerSignIn .form,
    .formContainer .form{
        right: auto;
        left: auto;
        height: 90vh;
        width: 95vw;
        padding: 5vh 0;
    }

    .formContainerSignIn .form{
        height: 75vh;
        transition: 1.2s;
    }

    .formContainerSignIn  .separatorFormSignIn{
        height: 0;
    }

    .form .inputContainer{
        width: 85%;
        height: 9vh;
    }

    .form select{
        width: 85%;
    }
   
    .callToActionResponsive{
        display: flex;
        color: white;
        font-size: .95rem;
        max-width: 90%;
        flex-wrap: wrap;
        justify-content: center;    
    }

    .callToActionResponsive > * {
        color: white;
        text-decoration: underline;
        font-weight: bold;
        margin-left: 3px;
    }

    .activitiesContainer{
        justify-content: space-between;
        height: auto;
        width: 90%;
        overflow-x: scroll;
    }
    
    .activity{
        min-width: 40vw;
        height: 20vh;
        margin: 1vh 1.5vw;
    }

    .commentNameText > div > p {
        font-size: .8rem;
    }

    .commentsUserName{
        color: var(--fcolor);
        font-weight: bold;
        font-size: .8rem;
        margin-bottom: .3vh;
    }
    
    .comment{
        padding: 1vh 1vw;
    }

    .commentsButtons{
        right: 1vw;
        width: 15%;
        font-size: .9rem;
    }

    .userPicComment{
        width: 35px;
        height: 35px;   
    }

    .commentNameText{
        width: 70%;
        margin-left: 1vw;
    } 

    .commentNameText > div > button {
        padding: .5vh .5vw;
        width: 15vw;
    }

    .showDivOn >h4 {
        font-size: 1.2rem;
        margin: .8vh 0;
        width: 60%;
    }
    
    .deleteCommentButtons{
        width: 35%;
    }
    
    .deleteComment p{
        font-size: .7rem;
    }
    
    .deleteCommentButtons button{
        padding: .5vh 1vw;
        font-size: .7rem;
        color: white;
    }
}